lab
lab.c
output
head.h
copilot-version/decodifica.exe
copilot-version/chave_decodificacao.bin
copilot-version/codifica.exe
copilot-version/arquivo_codificado.txt
huffman-taveira-assis.zip
huffman-taveira-assis/chave_decodificacao.bin
huffman-taveira-assis/arquivo_codificado.txt
huffman-taveira-assis/codifica.exe
